.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calc-container,
.button-container {
    display: grid;
    background-color: rgb(53, 53, 53);
}

.calc-container {
    border: 20px solid rgb(94, 50, 25);
    border-radius: 20px;
}

.display-container {
    display: grid;
    grid-template-columns: 1fr;
    border: 5px solid black;
}

#display {
    padding: 13px;
    font-size: 75px;
    color: white;
    text-align: right;
}

.button-container {
    grid-template-columns: repeat(4, 100px);
    grid-auto-rows: 100px;
    border: 3px solid black;
}

button {
    font-size: 21px;
    font-weight: bold;
    border: 2px solid black;
}

.numbers,
.decimal,
.sign {
    background-color: rgb(109, 109, 109);
}

.ac,
.back-space,
.operators,
.equals {
    background-color: rgb(121, 75, 54);
}

.ac {
    grid-column: span 2;
}

@media (max-width: 415px) {
    .button-container {
        grid-template-columns: repeat(4, 75px);
        grid-auto-rows: 75px;
    }
    #display {
        padding: 9px;
        font-size: 60px;
    }
    button {
        font-size: 17px;
        border: 1px solid black;
    }
}